* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

:root {
  --black: #000;
  --white: #FFF;
  --darkblue: #133A67;
  --lightblue: #B4D6FC;
  --h1: 2rem;
  --h3: 1rem;
  --footer-title: 20px;
}

body {
  background: var(--white);
  overflow-x: hidden;
}

.navbar {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  color: var(--black);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar .nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navbar .primary-icon {
  height: 4rem;
}
.navbar .list-item {
  display: inline-block;
  padding: 20px 10px;
}
.navbar a {
  color: var(--black);
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}
.navbar a:hover {
  color: var(--darkblue);
}

.menu {
  display: none;
}
.menu i {
  color: var(--black);
  font-size: 24px;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    background-color: var(--lightblue);
  }
  .navbar .nav-list {
    list-style-type: none;
    width: 100%;
    text-align: center;
    display: none;
    padding: 0;
  }
  .navbar .nav-list .list-item {
    display: block;
    background-color: var(--lightblue);
  }
  .navbar .active {
    display: block;
  }
  .menu {
    display: block;
    position: absolute;
    right: 15px;
    top: 25px;
  }
}
.cover video {
  width: 100%;
}

.application {
  padding: 0 5%;
}
.application .application-img {
  text-align: center;
}
.application .application-img img {
  width: 12rem;
  margin: 0 1rem;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.3s;
}
.application .application-img img:hover {
  transform: scale(1.1);
}
.application .application-desc {
  text-align: center;
}
.application .application-desc p {
  text-align: justify;
  margin: 1rem 0;
}
.application .application-desc b {
  color: var(--darkblue);
}
.application .application-desc img {
  height: 50px;
  margin: 0 0.5rem;
}

@media (max-width: 768px) {
  .application .application-img img {
    margin: 0 1rem;
  }
  .application .application-desc img {
    height: 35px;
  }
}
@media (max-width: 500px) {
  .application .application-img img {
    width: 100%;
    margin: 0;
  }
}
.howtos {
  background: var(--lightblue);
  padding: 2rem 5%;
  margin-top: 3rem;
}
.howtos .howtos-title h1 {
  text-transform: uppercase;
  color: var(--darkblue);
  font-weight: 800;
  font-size: var(--h1);
  text-align: center;
}
.howtos .howtos-img {
  text-align: center;
}
.howtos .howtos-img img {
  width: 25rem;
  height: 30rem;
  margin: 2rem 1rem;
  border-radius: 10px;
  margin-bottom: 3rem;
}
.howtos .howtos-desc {
  text-align: center;
}
.howtos .howtos-desc b {
  color: var(--darkblue);
}
.howtos .howtos-desc h1 {
  text-align: center;
  font-weight: 900;
  font-size: var(--h1);
  text-transform: uppercase;
  margin: 2rem 0;
  color: var(--darkblue);
}
.howtos .howtos-desc img {
  height: 50px;
  margin: 0 0.5rem;
}
.howtos .howtos-desc p {
  text-align: justify;
  margin-top: 1rem;
}

@media (max-width: 768px) and (min-width: 501px) {
  .howtos {
    padding: 2rem 5%;
  }
  .howtos .howtos-desc img {
    height: 35px;
  }
}
@media (max-width: 500px) {
  .howtos .howtos-title h1 {
    font-size: 1.25rem;
  }
  .howtos .howtos-img img {
    width: 100%;
    height: auto;
    margin: auto;
    padding: 1rem 1rem;
    border-radius: 30px;
  }
  .howtos .howtos-desc img {
    height: 35px;
  }
  .howtos .howtos-desc h1 {
    font-size: 1.25rem;
  }
}
.applications {
  width: 100%;
  padding: 0 5%;
  margin: 2rem 0;
  justify-content: center;
  align-items: center;
}
.applications .gallery img {
  width: 115px;
  margin: 0 1rem;
  transition: transform 0.5s;
  cursor: pointer;
}
.applications .gallery img:hover {
  transform: scale(1.1);
}

@media (max-width: 1024px) {
  .applications {
    padding: 0;
    text-align: center;
  }
  .applications .gallery img {
    width: 200px;
  }
}
.contact {
  background-color: var(--lightblue);
  text-align: center;
  padding: 3rem 1rem;
}
.contact .contact-details {
  text-align: center;
}
.contact .contact-details img {
  width: 25rem;
}
.contact .contact-details h3 {
  font-size: var(--h3);
  margin: 1rem 0;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--darkblue);
}
.contact .contact-details h1 {
  font-size: var(--h1);
  font-weight: 900;
  text-transform: uppercase;
  color: var(--darkblue);
}
.contact .contact-info {
  display: flex;
  margin: 1rem 1rem;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.contact .contact-info i {
  border-radius: 10px;
  margin: 1rem 1rem;
  color: var(--white);
  background-color: var(--darkblue);
  padding: 1rem 1rem;
}
.contact .contact-info p {
  margin: 0;
}
.contact .contact-maps iframe {
  width: 100%;
  height: 30rem;
}

@media (max-width: 768px) and (min-width: 501px) {
  .contact .contact-details img {
    width: 50%;
  }
  .contact .contact-info {
    display: block;
  }
}
@media (max-width: 500px) {
  .contact .contact-details img {
    width: 100%;
  }
  .contact .contact-details h3 {
    font-size: 1.5rem;
    font-weight: 800;
  }
  .contact .contact-details h1 {
    margin: 1rem 0;
    font-size: 2.25rem;
  }
  .contact .contact-info {
    display: block;
  }
  .contact .contact-info i {
    margin: 1rem 0;
    padding: 1.5rem 1.5rem;
    border-radius: 50px;
  }
}
.footer {
  padding: 2rem 5%;
}
.footer h3 {
  font-size: var(--footer-title);
  font-weight: 700;
  text-transform: uppercase;
  color: var(--darkblue);
}
.footer hr {
  width: 5rem;
  color: var(--darkblue);
}
.footer a {
  text-decoration: none;
  color: var(--darkblue);
  font-weight: 600;
}
.footer img {
  margin: 2rem 0;
}
.footer .footer-flex {
  display: flex;
  justify-content: space-around;
}
.footer .footer-flex .quicklinks {
  line-height: 3rem;
  font-size: 1rem;
}
.footer .footer-flex .quicklinks a {
  color: var(--darkblue);
  transition: 0.5s;
  font-size: var(--h2);
}
.footer .footer-flex .quicklinks a:hover {
  color: var(--black);
}
.footer .footer-flex .contacts i {
  background-color: var(--darkblue);
  padding: 1rem 1rem;
  color: var(--white);
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.footer .footer-flex .contacts i:hover {
  background-color: var(--black);
}
.footer .footer-flex .contacts p {
  margin: 1rem 0;
}
.footer .footer-flex .download img {
  height: 50px;
  margin: 1rem 0;
}
.footer .footer-details img {
  width: 20%;
}

@media (max-width: 768px) {
  .footer {
    text-align: center;
  }
  .footer h3 {
    margin: 1.5rem 0;
  }
  .footer hr {
    width: 100%;
    margin: 0.5rem 0;
  }
  .footer .footer-details img {
    width: 50%;
  }
  .footer .footer-flex {
    display: block;
    padding: 0;
  }
  .footer .footer-flex .download img {
    height: 2.5rem;
  }
  .footer .footer-flex .contacts p {
    margin: 1rem 0;
  }
}
.foot {
  background-color: var(--black);
  text-align: center;
  padding: 1rem 0;
  color: var(--white);
}
.foot img {
  width: 2rem;
  margin-left: 1rem;
}
.foot a {
  color: var(--white);
  text-decoration: none;
}
.foot p {
  margin: 0;
}

@media (max-width: 768px) {
  .foot {
    padding: 1rem 1rem;
  }
}