* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

:root {
  --black: #000;
  --white: #FFF;
  --darkblue: #133A67;
  --lightblue: #B4D6FC;
  --h1: calc(1.375rem + 1.5vw);
  --h3: calc(1.3rem + .6vw);
  --footer-title: 20px;
}

body {
  background: var(--white);
}

header {
  width: 100%;
  height: 80px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
}
header img {
  width: 4rem;
}
header .hamburger {
  display: none;
}
header .nav-bar {
  align-items: center;
}
header .nav-bar img {
  display: none;
}
header .nav-bar ul {
  display: flex;
  margin: 0;
}
header .nav-bar a {
  font-size: 1rem;
  line-height: 5rem;
  font-weight: 800;
  padding: 10px 25px;
  border-radius: 20px;
  transition: 0.2s;
  text-decoration: none;
  color: var(--black);
}
header .nav-bar a:hover {
  color: var(--darkblue);
}
header .nav-bar .active {
  color: var(--darkblue);
}
@media only screen and (max-width: 1320px) {
  header header {
    padding: 0 50px;
  }
}
@media only screen and (max-width: 1100px) {
  header header {
    padding: 0 30px;
  }
}
@media only screen and (max-width: 900px) {
  header header {
    padding: 0 20px;
  }
  header .hamburger {
    display: block;
    cursor: pointer;
  }
  header .line {
    width: 30px;
    height: 3px;
    background: var(--darkblue);
    margin: 6px 0;
  }
  header .nav-bar {
    width: 0;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: var(--lightblue);
    transition: 0.2s;
    overflow: hidden;
  }
  header .nav-bar img {
    display: block;
    width: 8rem;
    margin: 1rem 4rem;
    text-align: center;
  }
  header .nav-bar ul {
    display: block;
    width: fit-content;
    margin: 1rem auto;
    padding: 0;
    text-align: center;
    transition: 0.5s;
    opacity: 1;
  }
  header .active {
    width: 250px;
  }
}

@media (max-width: 768px) {
  header {
    padding: 0 30px;
  }
}
.cover .cover-img img {
  width: 100%;
}

.application {
  padding: 0 5%;
}
.application .application-img {
  padding: 3rem 1rem;
  text-align: center;
}
.application .application-img img {
  width: 25%;
}
.application .application-desc {
  text-align: center;
}
.application .application-desc p {
  text-align: justify;
}
.application .application-desc b {
  color: var(--darkblue);
}
.application .application-desc img {
  height: 50px;
  margin: 0 0.5rem;
}

@media (max-width: 1024px) and (min-width: 769px) {
  .application .application-img img {
    width: 32%;
  }
}
@media (max-width: 768px) {
  .application .application-img img {
    text-align: center;
    display: block;
    width: 100%;
  }
  .application .application-desc img {
    height: 35px;
  }
}
.howtos {
  background: var(--lightblue);
  padding: 2rem 5%;
  margin-top: 3rem;
}
.howtos .howtos-title h1 {
  text-transform: uppercase;
  color: var(--darkblue);
  font-weight: 800;
  font-size: var(--h1);
  text-align: center;
}
.howtos .howtos-img {
  text-align: center;
}
.howtos .howtos-img img {
  width: 25rem;
  height: 30rem;
  margin: 0 1rem;
  border-radius: 10px;
  margin-bottom: 3rem;
}
.howtos .howtos-desc {
  text-align: center;
}
.howtos .howtos-desc b {
  color: var(--darkblue);
}
.howtos .howtos-desc h1 {
  text-align: center;
  font-weight: 900;
  font-size: var(--h1);
  text-transform: uppercase;
  margin: 2rem 0;
  color: var(--darkblue);
}
.howtos .howtos-desc img {
  height: 50px;
  margin: 0 0.5rem;
}
.howtos .howtos-desc p {
  text-align: justify;
  margin-top: 1rem;
}

@media (max-width: 768px) and (min-width: 501px) {
  .howtos {
    padding: 2rem 5%;
  }
  .howtos .howtos-desc img {
    height: 35px;
  }
}
@media (max-width: 500px) {
  .howtos .howtos-img img {
    width: 100%;
    height: auto;
    margin: auto;
    padding: 1rem 1rem;
    border-radius: 30px;
  }
  .howtos .howtos-desc img {
    height: 35px;
  }
}
.applications .apps-ui {
  text-align: center;
}
.applications .apps-ui img {
  width: 25rem;
}

@media (max-width: 1024px) and (min-width: 769px) {
  .applications .apps-ui img {
    width: 20rem;
  }
}
@media (max-width: 768px) and (min-width: 501px) {
  .applications .apps-ui img {
    width: 15rem;
  }
}
@media (max-width: 500px) {
  .applications .apps-ui img {
    width: 100%;
  }
}
.contact {
  background-color: var(--lightblue);
  text-align: center;
  padding: 3rem 1rem;
}
.contact .contact-details {
  text-align: center;
}
.contact .contact-details img {
  width: 25rem;
}
.contact .contact-details h3 {
  font-size: var(--h3);
  margin: 1rem 0;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--darkblue);
}
.contact .contact-details h1 {
  font-size: var(--h1);
  font-weight: 900;
  text-transform: uppercase;
  color: var(--darkblue);
}
.contact .contact-info {
  display: flex;
  margin: 1rem 1rem;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.contact .contact-info i {
  border-radius: 10px;
  margin: 2rem 1rem;
  color: var(--white);
  background-color: var(--darkblue);
  padding: 1rem 1rem;
}
.contact .contact-info p {
  margin: 0;
}
.contact .contact-maps iframe {
  width: 100%;
  height: 30rem;
}

@media (max-width: 768px) and (min-width: 501px) {
  .contact .contact-details img {
    width: 50%;
  }
  .contact .contact-info {
    display: block;
    padding: 2rem 0;
  }
}
@media (max-width: 500px) {
  .contact .contact-details img {
    width: 100%;
  }
  .contact .contact-info {
    display: block;
  }
}
.footer {
  padding: 2rem 5%;
}
.footer h3 {
  font-size: var(--footer-title);
  font-weight: 700;
  text-transform: uppercase;
  color: var(--darkblue);
}
.footer hr {
  width: 5rem;
  color: var(--darkblue);
}
.footer a {
  text-decoration: none;
  color: var(--darkblue);
  font-weight: 600;
}
.footer img {
  margin: 2rem 0;
}
.footer .footer-flex {
  display: flex;
  justify-content: space-around;
}
.footer .footer-flex .quicklinks {
  line-height: 3rem;
  font-size: 1rem;
}
.footer .footer-flex .quicklinks a {
  color: var(--darkblue);
  transition: 0.5s;
  font-size: var(--h2);
}
.footer .footer-flex .quicklinks a:hover {
  color: var(--black);
}
.footer .footer-flex .contacts i {
  background-color: var(--darkblue);
  padding: 1rem 1rem;
  color: var(--white);
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.footer .footer-flex .contacts i:hover {
  background-color: var(--black);
}
.footer .footer-flex .contacts p {
  margin: 1rem 0;
}
.footer .footer-flex .download img {
  height: 50px;
  margin: 1rem 0;
}
.footer .footer-details img {
  width: 20%;
}

@media (max-width: 768px) {
  .footer {
    text-align: center;
  }
  .footer h3 {
    margin: 1.5rem 0;
  }
  .footer hr {
    width: 100%;
    margin: 0.5rem 0;
  }
  .footer .footer-details img {
    width: 50%;
  }
  .footer .footer-flex {
    display: block;
    padding: 0;
  }
  .footer .footer-flex .contacts p {
    margin: 1rem 0;
  }
}
.foot {
  background-color: var(--black);
  text-align: center;
  padding: 1rem 0;
  color: var(--white);
}
.foot img {
  width: 2rem;
  margin-left: 1rem;
}
.foot a {
  color: var(--white);
  text-decoration: none;
}
.foot p {
  margin: 0;
}

@media (max-width: 768px) {
  .foot {
    padding: 1rem 1rem;
  }
}