* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

:root {
    --black: #000;
    --white: #FFF;
    --darkblue: #133A67;
    --lightblue: #B4D6FC;

    --h1: 2rem;
    --h3: 1rem;
    --footer-title: 20px;
}

body {
    background: var(--white);
    overflow-x: hidden;
}

#header {
    box-shadow: 0 2px 4px 0 #00000033;

    .container {
        padding: 10px 5%;
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        ul {
            margin: 0;
        }

        li {
            display: inline-block;
            list-style: none;
            margin: 10px 20px;
            text-align: center;
        }

        .active {
            color: var(--darkblue);
        }

        a {
            color: var(--black);
            font-weight: 700;
            text-decoration: none;
            font-size: 18px;
        }

        a:hover {
            color: var(--darkblue);
        }

        .fas {
            display: none;
        }
    }

    .logo {
        width: 3rem;
    }
}

@media (max-width: 600px) {
    #header {

        nav {

            ul {
                background: var(--lightblue);
                position: fixed;
                top: 0;
                right: -500px;
                width: 100%;
                height: 100vh;
                padding: 50px;
                z-index: 2;
                transition: right 0.5s;
            }
    
            li {
                display: block;
                margin: 25px;
            }

            .fas {
                display: block;
                font-size: 25px;
            }

            .fa-times {
                position: absolute;
                top: 25px;
                left: 25px;
                cursor: pointer;
            }
        }
    }
}


.cover {

    .cover-img {

        img {
            width: 100%;
        }
    }
}

.application {
    padding: 0 5%;

    .application-img {
        padding: 3rem 1rem;
        text-align: center;

        img {
            width: 15rem;
            margin: 0 3rem;
            justify-content: space-between;
            align-items: center;
        }
    }

    .application-desc {
        text-align: center;

        p {
            text-align: justify;
        }

        b {
            color: var(--darkblue);
        }

        img {
            height: 50px;
            margin: 0 .5rem;
        }
    }
}

@media (max-width: 768px) {
    .application {

        .application-img {

            img {
                margin: 0;
            }
        }

        .application-desc {

            img {
                height: 35px;
            }
        }
    }
}

.howtos {
    background: var(--lightblue);
    padding: 2rem 5%;
    margin-top: 3rem;

    .howtos-title {

        h1 {
            text-transform: uppercase;
            color: var(--darkblue);
            font-weight: 800;
            font-size: var(--h1);
            text-align: center;
        }
    }

    .howtos-img {
        text-align: center;

        img {
            width: 25rem;
            height: 30rem;
            margin: 2rem 1rem;
            border-radius: 10px;
            margin-bottom: 3rem;
        }
    }

    .howtos-desc {
        text-align: center;

        b {
            color: var(--darkblue);
        }

        h1 {
            text-align: center;
            font-weight: 900;
            font-size: var(--h1);
            text-transform: uppercase;
            margin: 2rem 0;
            color: var(--darkblue);
        }

        img {
            height: 50px;
            margin: 0 0.5rem;
        }

        p {
            text-align: justify;
            margin-top: 1rem;
        }
    }
}

@media (max-width: 768px) and (min-width: 501px) {
    .howtos {
        padding: 2rem 5%;

        .howtos-desc {

            img {
                height: 35px;
            }
        }
    }
}

@media (max-width: 500px) {
    .howtos {

        .howtos-img {

            img {
                width: 100%;
                height: auto;
                margin: auto;
                padding: 1rem 1rem;
                border-radius: 30px;
            }
        }

        .howtos-desc {

            img {
                height: 35px;
            }
        }
    }
}

.applications {
    padding: 0 5%;
    margin: 3rem 0;

    .apps-ui {
        text-align: center;

        img {
            width: 15rem;
            margin: 0 5rem;
            justify-content: space-between;
            align-items: center;
        }
    }
}

@media (max-width: 1024px) and (min-width: 769px) {
    .applications {

        .apps-ui {

            img {
                margin: 0 2rem;
            }
        }
    }
}

@media (max-width: 768px) {
    .applications {

        .apps-ui {

            img {
                margin: 0;
            }
        }
    }
}

.contact {
    background-color: var(--lightblue);
    text-align: center;
    padding: 3rem 1rem;

    .contact-details {
        text-align: center;

        img {
            width: 25rem;
        }

        h3 {
            font-size: var(--h3);
            margin: 1rem 0;
            font-weight: 700;
            text-transform: uppercase;
            color: var(--darkblue);
        }

        h1 {
            font-size: var(--h1);
            font-weight: 900;
            text-transform: uppercase;
            color: var(--darkblue);
        }
    }

    .contact-info {
        display: flex;
        margin: 1rem 1rem;
        align-items: center;
        text-align: center;
        justify-content: center;

        i {
            border-radius: 10px;
            margin: 2rem 1rem;
            color: var(--white);
            background-color: var(--darkblue);
            padding: 1rem 1rem;
        }

        p {
            margin: 0;
        }
    }

    .contact-maps {

        iframe {
            width: 100%;
            height: 30rem;
        }
    }
}

@media (max-width: 768px) and (min-width: 501px) {
    .contact {

        .contact-details {

            img {
                width: 50%;
            }
        }

        .contact-info {
            display: block;
            padding: 2rem 0;
        }
    }
}

@media (max-width: 500px) {
    .contact {

        .contact-details {

            img {
                width: 100%;
            }
        }

        .contact-info {
            display: block;
        }
    }
}

.footer {
    padding: 2rem 5%;

    h3 {
        font-size: var(--footer-title);
        font-weight: 700;
        text-transform: uppercase;
        color: var(--darkblue);
    }

    hr {
        width: 5rem;
        color: var(--darkblue);
    }

    a {
        text-decoration: none;
        color: var(--darkblue);
        font-weight: 600;
    }

    img {
        margin: 2rem 0;
    }

    .footer-flex {
        display: flex;
        justify-content: space-around;

        .quicklinks {
            line-height: 3rem;
            font-size: 1rem;

            a {
                color: var(--darkblue);
                transition: 0.5s;
                font-size: var(--h2);
            }

            a:hover {
                color: var(--black);
            }
        }

        .contacts {

            i {
                background-color: var(--darkblue);
                padding: 1rem 1rem;
                color: var(--white);
                border-radius: 10px;
                cursor: pointer;
                transition: 0.5s ease-in-out;
            }

            i:hover {
                background-color: var(--black);
            }

            p {
                margin: 1rem 0;
            }
        }

        .download {

            img {
                height: 50px;
                margin: 1rem 0;
            }
        }
    }

    .footer-details {

        img {
            width: 20%;
        }
    }
}

@media (max-width: 768px) {
    .footer {
        text-align: center;

        h3 {
            margin: 1.5rem 0;
        }

        hr {
            width: 100%;
            margin: .5rem 0;
        }

        .footer-details {

            img {
                width: 50%;
            }
        }

        .footer-flex {
            display: block;
            padding: 0;

            .contacts {
                
                p {
                    margin: 1rem 0;
                }
            }
        }
    }
}

.foot {
    background-color: var(--black);
    text-align: center;
    padding: 1rem 0;
    color: var(--white);

    img {
        width: 2rem;
        margin-left: 1rem;
    }

    a {
        color: var(--white);
        text-decoration: none;
    }

    p {
        margin: 0;
    }
}

@media (max-width: 768px) {
    .foot {
        padding: 1rem 1rem;
    }
}