* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    --black: #000;
    --white: #FFF;
    --darkblue: #133A67;
    --lightblue: #B4D6FC;

    --h1: calc(1.375rem + 1.5vw);
    --h3: calc(1.3rem + .6vw);
    --footer-title: 20px;
}

body {
    background: var(--white);
    overflow-x: hidden;
}

header {
    width: 100%;
    height: 80px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;

    img {
        width: 4rem;
    }

    .hamburger {
        display: none;
    }

    .nav-bar {
        align-items: center;

        img {
            display: none;
        }

        ul {
            display: flex;
            margin: 0;
        }
        
        a {
            font-size: 1rem;
            line-height: 5rem;
            font-weight: 800;
            padding: 10px 25px;
            border-radius: 20px;
            transition: 0.2s;
            text-decoration: none;
            color: var(--black);
        }

        a:hover {
            color: var(--darkblue);
        }

        .active {
            color: var(--darkblue);
        }
    }

    @media only screen and (max-width: 1320px) {
        header {
            padding: 0 50px;
        }
    }
    
    @media only screen and (max-width: 1100px) {
        header {
            padding: 0 30px;
        }
    }

    
    @media only screen and (max-width: 900px) {

        header {
            padding: 0 20px;
        }

        .hamburger {
            display: block;
            cursor: pointer;
        }

        .line {
            width: 30px;
            height: 3px;
            background: var(--darkblue);
            margin: 6px 0;
        }

        .nav-bar {
            width: 0;
            height: 100vh;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            background: var(--lightblue);
            transition: 0.2s;
            overflow: hidden;

            img {
                display: block;
                width: 8rem;
                margin: 1rem 4rem;
                text-align: center;
            }

            ul {
                display: block;
                width: fit-content;
                margin: 1rem auto;
                padding: 0;
                text-align: center;
                transition: 0.5s;
                opacity: 1;
            }
        }

        .active {
            width: 250px;
            z-index: 1000;
        }
    }
}

@media (max-width: 768px) {
    header {
        padding: 0 30px;
    }
}

.cover {

    .cover-img {

        img {
            width: 100%;
            transform: translateX(100%);
            transition: transform 0.4s ease;
        }

        .box:nth-of-type(even) {
            transform: translateX(0);
        }

        .show {
            transform: translateX(0);
        }
    }
}

.application {
    padding: 0 5%;

    .application-img {
        padding: 3rem 1rem;
        text-align: center;

        img {
            width: 25%;
        }
    }

    .application-desc {
        text-align: center;

        p {
            text-align: justify;
        }

        b {
            color: var(--darkblue);
        }

        img {
            height: 50px;
            margin: 0 .5rem;
        }
    }
}

@media (max-width: 1024px) and (min-width: 769px) {
    .application {

        .application-img {

            img {
                width: 32%;
            }
        }
    }
}

@media (max-width: 768px) {
    .application {

        .application-img {

            img {
                text-align: center;
                display: block;
                width: 100%;
            }
        }

        .application-desc {

            img {
                height: 35px;
            }
        }
    }
}

.howtos {
    background: var(--lightblue);
    padding: 2rem 5%;
    margin-top: 3rem;

    .howtos-title {

        h1 {
            text-transform: uppercase;
            color: var(--darkblue);
            font-weight: 800;
            font-size: var(--h1);
            text-align: center;
        }
    }

    .howtos-img {
        text-align: center;

        img {
            width: 25rem;
            height: 30rem;
            margin: 0 1rem;
            border-radius: 10px;
            margin-bottom: 3rem;
        }
    }

    .howtos-desc {
        text-align: center;

        b {
            color: var(--darkblue);
        }

        h1 {
            text-align: center;
            font-weight: 900;
            font-size: var(--h1);
            text-transform: uppercase;
            margin: 2rem 0;
            color: var(--darkblue);
        }

        img {
            height: 50px;
            margin: 0 0.5rem;
        }

        p {
            text-align: justify;
            margin-top: 1rem;
        }
    }
}

@media (max-width: 768px) and (min-width: 501px) {
    .howtos {
        padding: 2rem 5%;

        .howtos-desc {

            img {
                height: 35px;
            }
        }
    }
}

@media (max-width: 500px) {
    .howtos {

        .howtos-img {

            img {
                width: 100%;
                height: auto;
                margin: auto;
                padding: 1rem 1rem;
                border-radius: 30px;
            }
        }

        .howtos-desc {

            img {
                height: 35px;
            }
        }
    }
}

.applications {

    .apps-ui {
        text-align: center;

        img {
            width: 25rem;
        }
    }
}

@media (max-width: 1024px) and (min-width: 769px) {
    .applications {

        .apps-ui {

            img {
                width: 20rem;
            }
        }
    }
}

@media (max-width: 768px) and (min-width: 501px) {
    .applications {

        .apps-ui {

            img {
                width: 15rem;
            }
        }
    }
}

@media (max-width: 500px) {
    .applications {

        .apps-ui {

            img {
                width: 100%;
            }
        }
    }
}

.contact {
    background-color: var(--lightblue);
    text-align: center;
    padding: 3rem 1rem;

    .contact-details {
        text-align: center;

        img {
            width: 25rem;
        }

        h3 {
            font-size: var(--h3);
            margin: 1rem 0;
            font-weight: 700;
            text-transform: uppercase;
            color: var(--darkblue);
        }

        h1 {
            font-size: var(--h1);
            font-weight: 900;
            text-transform: uppercase;
            color: var(--darkblue);
        }
    }

    .contact-info {
        display: flex;
        margin: 1rem 1rem;
        align-items: center;
        text-align: center;
        justify-content: center;

        i {
            border-radius: 10px;
            margin: 2rem 1rem;
            color: var(--white);
            background-color: var(--darkblue);
            padding: 1rem 1rem;
        }

        p {
            margin: 0;
        }
    }

    .contact-maps {

        iframe {
            width: 100%;
            height: 30rem;
        }
    }
}

@media (max-width: 768px) and (min-width: 501px) {
    .contact {

        .contact-details {

            img {
                width: 50%;
            }
        }

        .contact-info {
            display: block;
            padding: 2rem 0;
        }
    }
}

@media (max-width: 500px) {
    .contact {

        .contact-details {

            img {
                width: 100%;
            }
        }

        .contact-info {
            display: block;
        }
    }
}

.footer {
    padding: 2rem 5%;

    h3 {
        font-size: var(--footer-title);
        font-weight: 700;
        text-transform: uppercase;
        color: var(--darkblue);
    }

    hr {
        width: 5rem;
        color: var(--darkblue);
    }

    a {
        text-decoration: none;
        color: var(--darkblue);
        font-weight: 600;
    }

    img {
        margin: 2rem 0;
    }

    .footer-flex {
        display: flex;
        justify-content: space-around;

        .quicklinks {
            line-height: 3rem;
            font-size: 1rem;

            a {
                color: var(--darkblue);
                transition: 0.5s;
                font-size: var(--h2);
            }

            a:hover {
                color: var(--black);
            }
        }

        .contacts {

            i {
                background-color: var(--darkblue);
                padding: 1rem 1rem;
                color: var(--white);
                border-radius: 10px;
                cursor: pointer;
                transition: 0.5s ease-in-out;
            }

            i:hover {
                background-color: var(--black);
            }

            p {
                margin: 1rem 0;
            }
        }

        .download {

            img {
                height: 50px;
                margin: 1rem 0;
            }
        }
    }

    .footer-details {

        img {
            width: 20%;
        }
    }
}

@media (max-width: 768px) {
    .footer {
        text-align: center;

        h3 {
            margin: 1.5rem 0;
        }

        hr {
            width: 100%;
            margin: .5rem 0;
        }

        .footer-details {

            img {
                width: 50%;
            }
        }

        .footer-flex {
            display: block;
            padding: 0;

            .contacts {
                
                p {
                    margin: 1rem 0;
                }
            }
        }
    }
}

.foot {
    background-color: var(--black);
    text-align: center;
    padding: 1rem 0;
    color: var(--white);

    img {
        width: 2rem;
        margin-left: 1rem;
    }

    a {
        color: var(--white);
        text-decoration: none;
    }

    p {
        margin: 0;
    }
}

@media (max-width: 768px) {
    .foot {
        padding: 1rem 1rem;
    }
}